.hide-item{
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    opacity: 0;
    visibility: hidden;
}
.select-item:hover ~ .hide-item {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
