@import "tailwindcss";
@theme {
  --color-text-header: #DABB9E; 
  --color-border: #FFEAD7; 
  --color-coffee: #603809;
  --color-bg-btn:rgba(247, 225, 188, 0.35); 
  --color-coffee-bg :#221518;
  --color-text-box: #392624; 
  --color-text-box-black: #1E1E1E; 
  --color-box-btn: #F9C06A; 
  --color-box-bg: #FFF9F1; 
  --color-box-border: #F9C06A; 
  --spacing-content: 1197px;
  --font-bold-AvenirNextCyr:"AvenirNextCyr";

}
@font-face {
  font-family: "Iran";
  src: url(/font/fonnts.com-IRANSansXMedium.ttf);
}
@font-face {
  font-family: "newfont";
  src: url(/font/Far_KamranO.ttf);
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(/font/AvenirNextCyr-Heavy.woff2);
}
/* h2{
  font-family: "newfont";
} */
body{
  font-family: "Iran";
}