@import "tailwindcss";
@theme {
  --color-text-header: #DABB9E; 
  --color-border: #FFEAD7; 
  --color-coffee: #603809;
  --color-bg-btn:rgba(247, 225, 188, 0.35); 
  --color-coffee-bg :#221518;
  --color-text-box: #392624; 
  --color-text-box-black: #1E1E1E; 
  --color-box-btn: #F9C06A; 
  --color-box-bg: #FFF9F1; 
  --color-box-border: #F9C06A; 
  --spacing-content: 1197px;
  --font-bold-AvenirNextCyr:"AvenirNextCyr";

}
@font-face {
  font-family: "Iran";
  src: url(/font/fonnts.com-IRANSansXMedium.ttf);
}
@font-face {
  font-family: "newfont";
  src: url(/font/Far_KamranO.ttf);
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(/font/AvenirNextCyr-Heavy.woff2);
}
/* h2{
  font-family: "newfont";
} */
body{
  font-family: "Iran";
}
.loading-overlay {
  direction: ltr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: #854f1d;
  background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
  border-radius: 50%;
  animation: l19 2s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  background:
    linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px,10px 100%;
  background-repeat: no-repeat;
}
.loader::after {
   transform: rotate(45deg);
}

@keyframes l19 { 
  100%{transform: rotate(1turn)}
}