@import "tailwindcss";
@theme {
  --color-text-header: #DABB9E; 
  --color-border: #FFEAD7; 
  --color-coffee: #603809; 
  --color-text-box: #392624; 
  --color-text-box-black: #1E1E1E; 
  --color-box-btn: #F9C06A; 
  --color-box-bg: #FFF9F1; 
  --color-box-border: #F9C06A; 
  --spacing-content: 1197px;

}